@media (min-width:710px) and (max-width:1200px) {

    html{
        font-size: 20px;
    }

    .navbar {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 0;
    }

    .nav-iden{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        margin: 15px 0;
    }

    .nav-iden a img {
        width: 70px;
        margin-right: 15px;
    }
    .nav-iden span {
        font-size: 2.5rem;
    }

    .nav-menu {
        display: block;
        text-align: center;
    }

    .nav-menu a {
        font-size: 1.75rem;
        margin: 15px 0;
    }

    .nav-info{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        position: relative;
        margin-top: 15px;
    }

    .nav-info a {
        font-size: 1.5rem;
        margin: 0 15px;
    }
    .nav-info a i {
        font-size: 2rem;
    }

    main {
        display: block;
        width: 100%;
        height: 100%;
    }
    .main-section{
        display: flex;
        width: 100%;
        height: auto;
        background-size: cover;
    }

    .main-info-panel{
        display: flex;
        width: 100%;
        height: 70%;
        position: relative;
        top: 5px;
        left: 1px;
        align-items: center;
    }

    .main-info-panel h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    .main-info-panel p {
        width: 90%;
        height: 100%;
        font-size: 1.25rem;
        text-align: center;
    }

    .main-info-panel button {
        width: 45%;
        font-size: 1.2rem;
    }

    .optional {
        display: flex;
        width: 100%;
        height: auto;
    }

    .optional-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .optional-heading  {
        text-align: center;
    }

    .optional-heading h2 {
        font-size: 1.75rem;
    }

    .flexible-item,
    .mobilephone-item,
    .optional-newsletter,
    .optional-career {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 15px 25px;
    }

    .flexible-item h3,
    .mobilephone-item h3,
    .optional-newsletter h3,
    .optional-career h3 {
        font-size: 1.65rem;
    }
    .flexible-item p,
    .mobilephone-item p,
    .optional-newsletter p,
    .optional-career p {
        font-size: 1.5rem;
    }


    .optional-career p {
        width: 100%;
    }

    .cheap-flights-heading h2 {
        font-size: 2rem;
    }

    .cheap-flights-items {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .flight-figure img {
        width: 100%;        
    }

    .figure {
        margin-top: 15px;
    }

    .figure img {
        width: 100px;
    }

    .info-destination h2 {
        font-size: 2rem;
    }

    .info-destination span {
        font-size: 1.5rem;
    }

    .info-price span {
        font-size: 1.35rem;
        position: relative;
        left: 2px;
    }

    .info-price h2 {
        font-size: 2.25rem;
    }

    .services {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .services-heading h2 {
        font-size: 2rem;
    }

    .services-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .flight-service,
    .hotel-service,
    .car-rental-service {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .flight-service-info,
    .hotel-service-info,
    .car-rental-service-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 15px 0;
    }

    .hotel-service {
        display: flex;
        position: relative;
        right: 15px;
    }

    .car-rental-service {
        display: flex;
        position: relative;
        right: 15px;
    }

    .service-figure1 img{
        width: 100%;
        height: auto;
    }
    .service-figure2 img{
        width: 100%;
        height: auto;
    }
    .service-figure3 img{
        width: 100%;
        height: auto;
    }

    .flight-service-info button { 
        width: 25%;
        font-size: 22px;
        position: relative;
        left: 35vw;
    }
    .hotel-service-info button {
        width: 25%;
        font-size: 22px;
        position: relative;
        left: 35vw;
    }
    .car-rental-service-info button {
        width: 25%;
        font-size: 22px;
        position: relative;
        left: 35vw;
    }

    .flight-service-info p {
        width: 100%;
        font-size: 1.75rem;
        margin-left: -8px;
    }
    .hotel-service-info p {
        width: 100%;
        font-size: 1.75rem;
    }
    .car-rental-service-info p {
        width: 100%;
        font-size: 1.75rem;
        margin-left: -1px;
    }

    .flight-service-info h3 {
        font-size: 2rem;
    }
    .hotel-service-info h3 {
        font-size: 2rem;
        margin-right: 10px;
    }
    .car-rental-service-info h3 {
        font-size: 2rem;
        margin-right: 25px;
    }

    .service-figure1 {
        padding: 15px 0;
    }

    .car-rental-service-info {
        padding-bottom: 15px;
    }
    

   .avantaje-beneficii-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
   }

   .avantaje-beneficii-section h2 {
    font-size: 2rem;
   }

   .avantaje-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
   }

   .avantaje-item1,
   .avantaje-item2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
   }

  
   .avantaje-info1,
   .avantaje-info2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30px;
    margin: 15px 0;
   }

   .avantaje-info1 p {
    width: 100%;
    font-size: 1.5rem;
    margin-left: 10px;
   }
   .avantaje-info2 p {
    width: 100%;
    font-size: 1.5rem;
    margin-left: 7.5px;
   }

   .avantaje-info1 h3 {
    font-size: 2rem;
    margin-left: 25px;
   }
   .avantaje-info2 h3 {
    font-size: 2rem;
    margin-left: -5px;
   }

   .avantaje-figure1,
   .avantaje-figure2,
   .avantaje-figure3,
   .avantaje-figure4,
   .avantaje-figure5,
   .avantaje-figure6 {
    width: 70%;
    display: flex;
    position: relative;
    left: 90px;
    margin-top: 15px;
   }

   .avantaje-figure2,
   .avantaje-figure4,
   .avantaje-figure6 {
    display: flex;
    position: relative;
    left: 20vw;
   }

   .footer-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
   }

   .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -55px;
   }

   .company-services,
   .customer-services,
   .flights-destinations,
   .about-company{
    display: flex;
    flex-direction: column;
    margin: 15px;
   }

   .company-services ul li a,
   .customer-services ul li a,
   .flights-destinations ul li a,
   .about-company ul li a {
    font-size: 1.5rem;
   }

   .company-services h2 {
    font-size: 1.75rem;
    margin: 10px 0;
   }
   .customer-services h2 {
    font-size: 1.75rem;
    margin: 10px 0;
   }
   .flights-destinations h2 {
    font-size: 1.75rem;
    margin: 10px 0;
   }
   .about-company h2 {
    font-size: 1.75rem;
    margin: 10px 0;
   }

  .newsletter {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .newsletter h2 {
    font-size: 2rem;
  }

  .form-newsletter label {
    font-size: 1.75rem;
  }

  .form-newsletter input {
    width: 100%;
    font-size: 1.5rem;
    margin: 5px 0;
  }

  .form-newsletter input::placeholder {
    text-align: center;
  }

  .newsletter button {
    width: 30%;
    font-size: 1.2rem;
    padding: 10px 0;
  }

  .social-payments {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 5px 0;
  }

  .payments {
    margin: 15px 0;
  }
  .social {
    margin: 15px 0;
  }

  .payments h2 {
    margin: 15px 0;
    font-size: 2rem;

  }
  .social h2 {
    margin: 10px 0;
    font-size: 2rem;
  }

  .payment-option img,
  .social-links a img {
    width: 75px;
    height: 100%;
    margin: 0 10px;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 25px 0;
  }

  .copyright p {
    font-size: 1.5rem;
    margin-top: -15px;
  }

}